<div class="conteiner">
     <div class="form">
          <div class="div-buttons">
               <button class="btn-underline">Registro</button>
               <button class="btn-borderNone" routerLink="/login">Ingresar</button>
          </div>
          <div class="div-information">
               <p>Correo:</p>
               <input type="text" name="" id="">
               <p>Contraseña:</p>
               <input type="text" name="" id="">
               <p>Nombre de la Empresa:</p>
               <input type="text" name="" id="">
          </div>
     
          <h2 class="plan-available flex">Planes Disponibles</h2>
          <div class="plans">
               <div class="plan border-gratis">
                    <h3 class="title-gratis">GRATIS</h3>
                    <div class="plan-info">
                         <p>3 Paginas</p>
                         <p>3 Categorias</p>
                         <p>3 Bloques</p>
                         <p>10 Productos</p><br>
                    </div>
                    <button class="back-gratis">Seleccionar</button>
               </div>
               <div class="plan border-basico">
                    <h3 class="title-basico">BASICO</h3>
                    <div class="plan-info">
                         <p>3 Paginas</p>
                         <p>6 Categorias</p>
                         <p>8 Bloques</p>
                         <p>60 Productos</p><br>
                    </div>
                    <button class="back-basico">Seleccionar</button>
               </div>
               <div class="plan border-profesional">
                    <h3 class="title-profesional">PROFESIONAL</h3>
                    <div class="plan-info">
                         <p>Paginas ilimitadas</p>
                         <p>Categorias ilimitadas</p>
                         <p>Bloques ilimitados</p>
                         <p>Productos ilimitados</p><br>
                    </div>
                    <button class="back-profesional">Seleccionar</button>
               </div>
          </div><br>

          <div class="div-buttons-end">
               <div>
                    <button type="button" class="btn-comenzar" data-bs-dismiss="modal" routerLink="/admin-companies">Comenzar!</button>
                    <button type="button" class="btn-comenzar" data-bs-dismiss="modal" routerLink="/home">Atras</button>
               </div>
          </div><br>
     </div>
</div>