<div class="conteiner">
     <div class="form">
          <div class="div-buttons">
               <button class="btn-borderNone" routerLink="/register-business">Registro</button>
               <button class="btn-underline">Ingresar</button>
          </div>
          <div class="div-information">
               <p>Correo:</p>
               <input type="text" name="" id="">
               <p>Contraseña:</p>
               <input type="text" name="" id="">
          </div>
          <div class="pass">
               <button onclick="alert('Solo decoracion XD')">
                    <u>He olvidado mi contraseña</u>
               </button>
          </div><br><br><br>
          <div class="div-buttons-end">
               <div>
                    <button type="button" class="btn-comenzar" data-bs-dismiss="modal" routerLink="/admin-companies">Comenzar!</button>
                    <button type="button" class="btn-comenzar" data-bs-dismiss="modal" routerLink="/home">Atras</button>
               </div>
          </div><br>
     </div>
</div>