.flex{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}


.conteiner{
     display: flex;
     flex-direction: column;
     align-items: center;
}


/* INICIO */
.inicio{
     width: 100%;
     height: 400px;
     background-image: url("../../../assets/img/home/opaco.gif");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     
}

.fondo{
     background-image: url("../../../assets/img/home/fondo.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: absolute;
     width: 550px;
     height: 400px;
     opacity: 0.4;
}

.inicio img {
     width: 25%;
}

.inicio p {
     font-size: 0.9rem;
}

.btn-iniciar{
     background-color: #8254b5;
     border-radius: 50px;
     width: 110px;
     height: 30px;
     color: white;
     font-family: 'Titillium Web', sans-serif;
     font-size: 1rem;
     border: none;
}


/* PUBLICIDAD */
.texto{
     display: flex;
     justify-content: center;
     text-align: center;
     Width: 550px;
     font-family: 'Titillium Web', sans-serif;
     color: #8254b5;
}

.p-galery{
     display: flex;
     align-items: center;
     justify-content: center;
}

.p-galery img {
     margin-left: 10px;
     margin-right: 10px;
}

.p-galery #a, #c{
     width: 10%;
}
.p-galery #b{
     width: 15%;
}

.grid{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     width: 500px;
     grid-gap: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
}

.caracteristicas{
     text-align: center;
     padding: 15px;
}

.caracteristicas img{
     width: 50%;
     margin-bottom: 10px;
     
}

.caracteristicas p{
     width: 100%;
     font-weight: bold;
     margin-bottom: 2px !important;
     
}

.caracteristicas div{
     font-size: 0.8rem;
     width: 100%;
     text-align: justify !important; 
     font-family: 'Titillium Web', sans-serif;
     
}


.empresas{
     flex-direction: row;
     padding: 15px;
}

.empresas i{
     font-size: 25px;
}

.empresas p{
     margin: 0 0 0 10px!important;
}


/* PIE DE PAGINA */

.pie-pagina{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #8254b5;
     width: 100%;
     height: max-content;
     color: white;
     font-family: 'Titillium Web', sans-serif;
     padding: 5px;
}

.pie-pagina img{
     width: 10%;
}

.pie-pagina div i{
     font-size: 1rem;
     margin-right: 10px;
}

.pie-logo{
     display: flex;
     align-items: flex-end;
}

.pie-logo div{
     padding-left: 10px;
}

.social-media{
     display: flex;
     justify-content: flex-end;
     width: 100%;
     color: white;
     font-family: 'Titillium Web', sans-serif;
}


/* MODAL REGISTRO */
.modal-body{
     font-family: 'Titillium Web', sans-serif;
}

.modalRegistroContainer{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.modalRegistroBotones{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;
} 

.form-cerrar{
     font-size: 1.5rem !important;
     color: rgba(0, 0, 0, 0.464);
     width: 100%;
     display: flex !important;; 
     justify-content: flex-end !important; 
}

.btn-cerrar{
     border: none !important;
     background-color: rgba(255, 255, 255, 0);
}

.modalRegistroBotones button{
     width: 110px;
     height: 30px;
     color: #0E80E3;
     background-color: rgba(255, 255, 255, 0);
     font-size: 1.2rem;
}


.mr-info{
     width: 100%;
     padding: 0px 30px 0px 30px;
}

.mr-info p{
     margin: 0 !important;
}

.mr-info input{
     width: 100%;
     height: 20px;
     border-top: 0 !important;
     border-left: 0 !important;
     border-right: 0 !important;
     border-bottom: 1px solid #00000032;
     font-size: 1rem;
     color: #8254b5;
     margin-bottom: 30px;
}

.div-comenzar {
     width: 100%;
     display: flex !important;; 
     justify-content: center !important; 
}

.btn-comenzar{
     background-color: #0E80E3;
     width: 110px;
     height: 30px;
     color: white;
     font-family: 'Titillium Web', sans-serif;
     font-size: 1rem;
     border: none;
}

.btn-underline{
     border-bottom: 1.5px solid #0E80E3;
     border-top: 0 !important;
     border-left: 0 !important;
     border-right: 0 !important;
}

.btn-borderNone{
     border: none;
}

.planes-container h2{
     margin-bottom: 15px;
}

#plan-disp{
     margin-bottom: 20px !important;
}

.planes{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr !important;
     grid-gap: 10px;
}

.plan{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 5px;
     border: 1px solid;
     border-radius: 10px;
}

.plan-info{
     text-align: left !important;
}

.plan-info p{
     font-size: 0.8rem;
     margin: 0 !important;
}

.plan h3{
     font-size: 1.2rem;
     /* color: #00AB11; */
     font-weight: bold;
}

.plan button{
     color: white;
     /* background-color: #00AB11; */
     border: none;
     border-radius: 50px;
     font-size: 0.8rem;
}

.title-gratis{color: #00AB11;}
.back-gratis{background-color: #00AB11;}
.border-gratis{border-color: #00AB11;}

.title-basico{color: #8155B6;}
.back-basico{background-color: #8155B6;}
.border-basico{border-color: #8155B6;}

.title-profesional{color: #0E80E3;}
.back-profesional{background-color: #0E80E3;}
.border-profesional{border-color: #0E80E3;}


.pass{
     font-size: 0.8rem;
     text-align: right;
     padding: 30px !important;
     color: blue;
}





@media screen and (max-width: 450px) {
     .inicio{
          width: 100%;
          height: 300px;
          /* background-color: red; */
     }

     .inicio img {
          width: 50%;
     }

     .texto{
          Width: 100%;
     }

     .p-galery #a, #c{
          width: 20%;
     }
     .p-galery #b{
          width: 30%;
     }

     .grid{
          width: 400px;
     }

     .caracteristicas div{
          font-size: 0.75rem;
     }

     .empresas{
          padding: 0!important;
          margin: 5px 0 5px 0!important;
     }

     #lista-empresas{
          display: grid;
          grid-template-columns: 1fr 1fr !important;
     }

     .plan-info p{
          font-size: 0.6rem;
          margin: 0 !important;
     }

     .plan button{
          font-size: 0.6rem;
     }
}