.flex{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}


.conteiner{
     display: flex;
     flex-direction: column;
     align-items: center;
     /* user-select: none !important; */
}

.disable-select {
     -webkit-touch-callout: none !important; /* iOS Safari */
     -webkit-user-select: none !important;   /* Chrome/Safari/Opera */
     -khtml-user-select: none !important;    /* Konqueror */
     -moz-user-select: none !important;      /* Firefox */
     -ms-user-select: none !important;       /* Internet Explorer/Edge */
     user-select: none !important;           /* Non-prefixed version, currently supported by any browser but < IE9 */
} 


/* INICIO */
.inicio{
     width: 100%;
     height: 400px;
     background-image: url("../../../assets/img/home/opaco.gif");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     margin-bottom: 30px;
     padding: 13rem;
}

.fondo{
     background-image: url("../../../assets/img/home/fondo.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: absolute;
     width: 550px;
     height: 400px;
     opacity: 0.4;
}

.inicio img {
     width: 25%;
}

.inicio p {
     font-size: 0.9rem;
}

.btn-iniciar{
     background-color: #8254b5;
     border-radius: 50px;
     width: 120px;
     /* height: 50px; */
     color: white;
     font-family: 'Titillium Web', sans-serif;
     font-size: 1.2rem;
     border: none;
}


/* PUBLICIDAD */
.texto{
     display: flex;
     justify-content: center;
     text-align: center;
     Width: 550px;
     font-family: 'Titillium Web', sans-serif;
     color: #8254b5;
}

.p-galery{
     display: flex;
     align-items: center;
     justify-content: center;
}

.p-galery img {
     margin-left: 10px;
     margin-right: 10px;
}

.p-galery #a, #c{
     width: 10%;
}
.p-galery #b{
     width: 15%;
}

.grid{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     width: 500px;
     grid-gap: 10px;
     margin-bottom: 10px;
     align-items: flex-start;

}

.caracteristicas{
     text-align: center;
     padding: 15px;
}

.caracteristicas img{
     width: 50%;
     margin-bottom: 10px;
     
}

.caracteristicas p{
     width: 100%;
     font-weight: bold;
     margin-bottom: 2px !important;
     
}

.caracteristicas div{
     font-size: 0.8rem;
     width: 100%;
     text-align: justify !important; 
     font-family: 'Titillium Web', sans-serif;
     
}


.empresas{
     flex-direction: row;
     padding: 15px;
}

.empresas i{
     font-size: 25px;
}

.empresas p{
     margin: 0 0 0 10px!important;
}


/* PIE DE PAGINA */

.pie-pagina{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #8254b5;
     width: 100%;
     height: max-content;
     color: white;
     font-family: 'Titillium Web', sans-serif;
     padding: 5px;
}

.pie-pagina img{
     width: 10%;
}

.pie-pagina div i{
     font-size: 1rem;
     margin-right: 10px;
}

.pie-logo{
     display: flex;
     align-items: flex-end;
}

.pie-logo div{
     padding-left: 10px;
}

.social-media{
     display: flex;
     justify-content: flex-end;
     width: 100%;
     color: white;
     font-family: 'Titillium Web', sans-serif;
}


@media screen and (max-width: 1280px) {
     .inicio{
          width: 100%;
          height: 300px;
          padding: 9rem;
     }
}

@media screen and (max-width: 450px) {
     .inicio{
          width: 100%;
          height: 300px;
          padding: 0;
     }

     .btn-iniciar{
          width: 100px;
          font-size: 1rem;
     }

     .inicio img {
          width: 50%;
     }

     .texto{
          Width: 100%;
          padding-left: 15px;
          padding-right: 15px;
     }

     .p-galery #a, #c{
          width: 20%;
     }
     .p-galery #b{
          width: 30%;
     }

     .grid{
          width: 400px;
          padding-left: 15px;
          padding-right: 15px;
     }

     .caracteristicas div{
          font-size: 0.75rem;
     }

     .empresas{
          padding: 0!important;
          margin: 5px 0 5px 0!important;
     }

     #lista-empresas{
          display: grid;
          grid-template-columns: 1fr 1fr !important;
     }

     .plan-info p{
          font-size: 0.6rem;
          margin: 0 !important;
     }

     .plan button{
          font-size: 0.6rem;
     }

     .caracteristicas div{
          font-size: 0.6rem;
     }
}