<div class="conteiner">

     <!-- INICIO -->
     <section class="flex inicio">
          <img src="../../../assets/img/home/BW.png" alt="">
          <p>Impulsando tu negocio, Facilitando tu desarrollo.</p>
          <button class="btn-iniciar" routerLink="/register">INICIAR</button>
     </section>

     <!-- PUBLICIDAD -->
     <section class="flex">
          <div class="texto">En business Web nuestra misión es satisfacer las necesidades técnicas de nuestros clientes y lograr el crecimiento de su negocio.</div>
          <br>

          <div class="p-galery">
               <img id="a" src="../../../assets/img/home/worldwide.png" alt="">
               <img id="b" src="../../../assets/img/home/online-shopping.png" alt="">
               <img id="c" src="../../../assets/img/home/ecommerce.png" alt="">
          </div>
          <br>

          <div class="texto">Publica y vende tus productos de una forma fácil y segura.</div>
          <br>

          <div class="grid">
               <div class="flex caracteristicas">
                    <img src="../../../assets/img/home/shopping-cart.png" alt="">
                    <p>Carrito</p>
                    <div>Cada sitio cuenta con un carrito de compra para que tus cliente puedan comprar desde la comodidad de su casa.</div>
               </div>
               <div class="flex caracteristicas">
                    <img src="../../../assets/img/home/click.png" alt="">
                    <p>Facil</p>
                    <div>Agrega fotos, bloques y muchos mas con solo unos cuantos clics.</div>
               </div>
               <div class="flex caracteristicas">
                    <img src="../../../assets/img/home/ssl.png" alt="">
                    <p>Seguridad</p>
                    <div>La seguridad a nivel de transporte se basa en la capa de sockets seguros (SSL).</div>
               </div>
          </div>
     </section><br><br>

     <!-- EMPRESAS -->
     <section>
          <hr>
          <div id="lista-empresas" class="grid">
               <div class="flex empresas">
                    <i class="fa-brands fa-adversal" style="color: green;"></i>
                    <p>Empresa1</p>
               </div>
               <div class="flex empresas">
                    <i class="fa-brands fa-app-store-ios" style="color: red;"></i>
                    <p>Empresa2</p>
               </div>
               <div class="flex empresas">
                    <i class="fa-brands fa-accusoft" style="color: blue;"></i>
                    <p>Empresa3</p>
               </div>
               <div class="flex empresas">
                    <i class="fa-solid fa-apple-whole"></i>
                    <p>Empresa4</p>
               </div>
               <div class="flex empresas">
                    <i class="fa-brands fa-angrycreative" style="color: violet;"></i>
                    <p>Empresa5</p>
               </div>
               <div class="flex empresas">
                    <i class="fa-brands fa-amazon"></i>
                    <p>Empresa6</p>
               </div>
          </div>
          <hr>
     </section>

     <!-- PIE DE PAGINA -->
     <section class="pie-pagina">
          <div class="pie-logo">
               <img src="../../../assets/img/home/BW_white_solido_256.ico" alt="">
               <div>Bussines Web</div>
          </div>
          <div class="social-media">
               <i class="fa-brands fa-facebook"></i>
               <i class="fa-brands fa-twitter"></i>
               <i class="fa-brands fa-instagram"></i>
               <i class="fa-brands fa-whatsapp"></i>
          </div>
     </section>
</div>