<!-- <div>
     <div><img width="100px" [src]="image" alt=""></div><br>
     <div><input class="hidden" (change)="capturarLogo($event)" accept=".png" type="file" id="favicon" placeholder=""></div>
     <button class="btn">Subir Archivo</button>
</div> -->

<div class="grid">
     <div><img width="100px" [src]="image" alt=""></div><br>
     <div class="card" style="width: 12rem; display: flex; align-items: center;">
          <img src="../../../../assets/img/home/online-shopping.png" class="card-img-top" alt="...">
          <div class="flex-botones">
               <button type="button" class="btn btn-outline-primary btn-sm"><input class="input-file" type="file"><i class="fa-solid fa-camera"></i>Sustituir</button>
               <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash-can"></i> Borrar</button>
          </div>
     </div>
</div>



<hr>


<div class="grid">
     <i class="fa-solid fa-magnifying-glass"></i>
     <div class="card" style="width: 12rem; display: flex; align-items: center;">
          <img src="../../../../assets/img/home/online-shopping.png" class="card-img-top" alt="...">
          <div class="flex-botones">
               <button type="button" class="btn btn-outline-primary btn-sm"><input class="input-file" type="file"><i class="fa-solid fa-camera"></i>Sustituir</button>
               <button type="button" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash-can"></i> Borrar</button>
          </div>
     </div>
</div>
