<body>
     <div>
          <div class="container">
          
               <div style="width:40rem; margin: 0 0 0 20px;">
                    <div class="upload-imagen">
                         <img [src]="previsualizacionLogo || image" class="card-img-top" alt="...">
                         <div class="flex-botones">
                              <button type="button" class="btn btn-outline-primary btn-sm button"><input class="input-file" (change)="capturarLogo($event)" type="file"><i class="fa-solid fa-magnifying-glass"></i>Buscar</button>
                              <button type="button" class="btn btn-outline-success btn-sm button" (click)="guardar ()"><i class="fa-solid fa-cloud-arrow-up"></i> Guardar</button>
                         </div>
                    </div>
               </div>
               <hr>       
               
               <div #asGallery class="row" *ngIf="gallery.length!=0">

                    <div class="col-lg-4 col-sm-6" style="width: 12rem; margin: 20px;" *ngFor="let images of gallery[0];">
                         <div class="thumbnail">
                              <div class="img-container card">
                                   <img [src]="images.img" alt= "" class="image">
                                   <div class="overlay">
                                        <div class="flex-botones caption">
                                             <button type="button" class="btn btn-outline-primary btn-sm button"><input class="input-file" type="file"><i class="fa-solid fa-camera"></i>Sustituir</button>
                                             <button type="button" class="btn btn-outline-danger btn-sm button"><i class="fa-solid fa-trash-can"></i> Borrar</button>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          
               </div>
          </div>
     </div>
</body>