.grid{
     display: grid;
     grid-gap: 30px;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.hidden {
     color: transparent;
}

.card {
     width: 40% !important;
     padding: 10px !important;
     box-shadow: 5px 5px 5px #79009539;
}

.card div button{
     margin: 10px 5px 5px 5px !important;
}

.card div button i{
     margin-right: 5px !important;
}


.input-file{
     position: absolute;
     width: 50px;
     color: transparent !important;
     background-color: transparent !important;
     opacity: 0 !important;
}