.conteiner{
     width: 900px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     text-align: space-between;
}

table tbody tr td{
     width: 330px;
}

.div-botones{
     display: flex;
     width: 73% !important;
     justify-content: right;
     align-items: center;
     width: 100%;
     padding-top: 20px;
}

i {font-size: 1.2rem; font-weight: bold; color: blueviolet;}

td{
     font-size: 15px;
     font-family: 'Roboto', sans-serif;
}

button{
     width: 120px;
     font-size: 18px;
     font-weight: bold;
     color: blueviolet;
     border: 1px solid blueviolet;
     border-radius: 5px;
     background-color: white;
}

.hidden {
     color: transparent;
}
