<ul class="nav flex-column">
     <div class="conteiner">
          <div class="nav-item">
               <div class="logo">
                    <img src="../../../../assets/img/home/BW_white.png" alt="">
                    <p>Impulsando tu Negocio</p>
                    <hr>
               </div><br>

               <h1>CONFIGURACION</h1><hr>
               <button routerLinkActive="active-link" routerLink="./info">
                    <i class="fa-solid fa-circle-info"></i>
                    <p>Informacion Empresa</p>
               </button><br>

               <h1>CONTENIDO</h1><hr>
               <button routerLinkActive="active-link" routerLink="./pages">
                    <i class="fa-regular fa-file"></i>
                    <p>Paginas</p>
               </button>
               <button routerLinkActive="active-link" routerLink="./blocks">
                    <i class="fa-solid fa-table-cells-large"></i>
                    <p>Bloques</p>
               </button>
               <button routerLinkActive="active-link" routerLink="./products">
                    <i class="fa-solid fa-cart-plus"></i>
                    <p>Productos</p>
               </button><br>

               <h1>GALERIA</h1><hr>
               <button routerLinkActive="active-link" routerLink="./images">
                    <i class="fa-solid fa-image"></i>
                    <p>Imagenes</p>
               </button>
               <button routerLinkActive="active-link" routerLink="./videos">
                    <i class="fa-solid fa-film"></i>
                    <p>Videos</p>
               </button>
               <button routerLinkActive="active-link" routerLink="./others">
                    <i class="fa-solid fa-folder"></i>
                    <p>Otros</p>
               </button><br>

               <h1>USUARIO</h1><hr>
               <button routerLinkActive="active-link" routerLink="./home-admin">
                    <i class="fa-solid fa-house"></i>
                    <p>Inicio</p>
               </button>
               <button routerLinkActive="active-link" routerLink="./home">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p>Salir</p>
               </button>

               <!-- Forma alternativa de hacer el menu: -->
               <!-- <button *ngFor="let data of navData">
                    <div class="div-button" [routerLink]="[data.routerLink]">
                         <i [ngClass]="data.icon"></i>
                         <p>{{data.label}}</p>
                    </div>
               </button> -->
          </div>
     </div>
</ul>